#counter {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	color: #555;
	margin-top: 20px;
  }
  #counter span {
	margin-left: 5px;
	font-weight: bold;
  }

body {
	background-color: black;
	color: white;
	font-family: "code new roman", sans-serif;
	font-weight:400;
	text-decoration: none solid rgb(218, 218, 219);
	font-style:normal;
	font-variant:normal;
	text-transform:none;
	text-align:start;


  }



header {
	background-color:black;
	color: #fff;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a {
	color: #f3eeee;
	text-decoration: none;
	font-size: 10px;
	margin-left: 1em;
}

nav a:first-child {

	margin-left: 0;
	
}

.bn {
	background-color:black !important;
	font-size: 16px;
	
}


main {

	max-width: 800px;
	margin: 2em auto;
	padding: 0 1em;
	margin-top: 80px;
}

h1, h2, h3 {
	font-weight: normal;
}

h1 {
	margin: 0;
	font-size: 2em;
}

.intro-text {
	margin-top: 1em;
	text-align: center;
}

.profile-img {
	max-width: 50%;
	max-height: 50%;
	display: block;
	margin: 2em auto 0;
	object-fit: cover;
	border-radius: 50%;
}



.life-photos img {
	width: 240px;
  	height: 400px;
	margin: 0 1%; /* add a 1% margin to the left and right of each image */
	display: inline-block; /* display the images as inline-block elements */
	object-fit: cover;
	border-radius: 10%;

}

.projects img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 1em 0;
	

}

.button-container {
	display: flex;
	justify-content: center;
	object-fit: cover;
	border-radius: 50%;
  }
  
.btn {
    background-color: gray;  /* set background color to white */
    border: 0px solid gray;  /* set a 1 pixel solid border with color #ccc */
	border-radius: 10px;
    color: white;            /* set text color to #333 */
    padding: 8px 15px;     /* set padding of 10 pixels on top and bottom, and 20 pixels on left and right */
    text-align: center;     /* set text alignment to center */
    text-decoration: none;  /* remove text decoration */
    display: inline-block;  /* set display type to inline block */
    font-size: 15px;        /* set font size to 16 pixels */
    margin: 8px;           /* set margin of 10 pixels on all sides */
    vertical-align: middle; /* set vertical alignment to middle */
}

	  

  
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px;
	}
	  